<div class="container">

    <div class="mt-3">
        <p>ระบบคาดการณ์ภัยแล้ง
            พัฒนาขึ้นภายใต้โครงการระบบคาดการณ์สถานการณ์ภัยแล้งด้านการเกษตรระดับแปลงด้วยการรับรู้ระยะไกลและเทคโนโลยีการเรียนรู้ของเครื่อง
            ซึ่งได้รับทุนสนับสนุนจากสำนักงานพัฒนาการวิจัยการเกษตร (องค์การมหาชน) <br>
            โดยระบบคาดการณ์ภัยแล้งนี้มีการใช้ข้อมูลภาพถ่ายดาวเทียมและข้อมูลภูมิสารสนเทศ ประกอบด้วย
            ปัจจัยที่เกี่ยวข้องคือ สภาพอากาศ พืช และลักษณะกายภาพของพื้นที่ ด้วยการเรียนรู้ของเครื่อง (Machine Learning)
        </p>

        <div class="flex-1 justify-center">
            <img src="https://i.guim.co.uk/img/media/fe1e34da640c5c56ed16f76ce6f994fa9343d09d/0_174_3408_2046/master/3408.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=0d3f33fb6aa6e0154b7713a00454c83d"
                class="d-block w-50" alt="LogoRootanlang">
        </div>

        <p>และการพัฒนาแอปพลิเคชันนี้เพื่อใช้ในการให้บริการข้อมูลคาดการณ์ภัยแล้ง คาดการณ์สภาพอากาศ ข้อมูลแหล่งน้ำ
            และคำแนะนำความเหมาะสมต่อการเพาะปลูก ทำให้เกษตรกรสามารถจัดการแปลงเพาะปลูกและปรับเปลี่ยนได้ทันต่อเหตุการณ์</p>
        <br>
        <br>
        <br>
        <p>เวอร์ชัน 1.0.0</p>
        <p>สงวนลิขสิทธิ์ 2564 โดยมหาวิทยาลัยเกษตรศาสตร์</p>
    </div>
</div>